.body{
    background-color:azure;
}

.navbar{
    background-color: #00b19c;
}

.nav-drop{
    color: #e5f5f3;
}

.navbar .navbar-brand{
    font-size: 33px;
    color: #e5f5f3;
    
}

.form-al{
    margin: auto;
    margin-top: 5rem;
}

.form-al .btn{
    margin-left: 12rem;
    background-color: #00b19c;
    color:white
}

.form-al .group-form .head h1{
    color: #00b19c;
    text-align: center;
    font-size: 3rem;
}

.form-al .group-form .head p{
    font-size: 23px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-svg{
    color: #e5f5f3;
}
.nav-name{
    color: #e5f5f3;
}
.bi{
    color: #e5f5f3;
}