<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg pt-3 pb-5 navbar-light bg-light row">
        <a class="logo text-decoration-none p-2 pr-5" href="#">Healthcare</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse  navbar-collapse pt-2" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-li">
                <li class="nav-item">
                    <a class="nav-link collapse-color pr-4" href="#">Products <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapse-color pr-4" href="#">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapse-color" href="#">About</a>
                </li>
                <li class="nav-item dropdown nav-drop ml-3">
                    <a class="nav-link dropdown-toggle nav-name" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>

                        Yamen jalamneh
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">About us</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
        <div class="form-content">
        <div class="form m-auto w-50 border border-secondary group-form p-5">
            <form class=" ">
                <div class="head-hospital">
                    <h1 class="font-weight-bolder  text-monospace">Health</h1>
                    <p class="font-italic">Healthcare Delivery Service</p>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1" class="font-italic text-label font-weight-normal">Select Hospital:</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Jordan University Hospital</option>
                        <option>.....</option>

                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1" class="font-italic text-label font-weight-normal">Select Department:</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Blood Collection</option>
                        <option>Medicine Delivery </option>
                        <option>Blood Sugar Test</option>
                        <option>Hemodialysis request</option>
                        <option>ECG</option>
                        <option>Nebulization </option>
                        <option>Tonometry</option>
                        <option>Vital signs checkup</option>
                        <option>IM and IV injections</option>
                        <option>Post-operative follow-up</option>
                        <option>Physiotherapy</option>
                    </select>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn-next rounded-pill col-lg-4 ">Next</button>
                </div>

            </form>

        </div>
        </div>


</div>
</body>
</html>